force-app/main/default/flows/Expense_Splitter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_temp_expense_to_collection</name>
        <label>Add temp expense to collection</label>
        <locationX>1372</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>listOfExpenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempExpense</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_expense_list_choice_selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Takes the screens and assigns the choices the user made to a collection of strings</description>
        <name>assign_expense_owner_choices_to_collection</name>
        <label>assign expense owner choices to collection</label>
        <locationX>1073</locationX>
        <locationY>14</locationY>
        <assignmentItems>
            <assignToReference>expenseOwnerListSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S1_Expense_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expenseOwnerListSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S1_Expense_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_expense_list_choice_selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Takes the screens and assigns the choices the user made to a collection of strings</description>
        <name>assign_expense_owner_choices_to_collection_0</name>
        <label>assign expense owner choices to collection</label>
        <locationX>1074</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>expenseOwnerListSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S2_Expense_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expenseOwnerListSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S2_Expense_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expenseOwnerListSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S2_Expense_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_expense_list_choice_selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Takes the screens and assigns the choices the user made to a collection of strings</description>
        <name>assign_expense_owner_choices_to_collection_0_0</name>
        <label>assign expense owner choices to collection</label>
        <locationX>1076</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>expenseOwnerListSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S3_Expense_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expenseOwnerListSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S3_Expense_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expenseOwnerListSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S3_Expense_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expenseOwnerListSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S3_Expense_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_expense_list_choice_selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the orignal values + chosen expense owner + the split amount  to the temp expense</description>
        <name>Assign_to_temp_expense</name>
        <label>Assign to temp expense</label>
        <locationX>1370</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>tempExpense.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>splitAmountDivision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempExpense.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalExpense.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempExpense.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalExpense.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempExpense.Expense_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalExpense.Expense_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempExpense.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalExpense.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempExpense.Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>originalExpense.Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempExpense.Expense_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expenseOwnerChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_temp_expense_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Temp_List_of_Expenses</name>
        <label>Null Temp List of Expenses</label>
        <locationX>839</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>listOfExpenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyExpenseList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expenseOwnerListSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyStringList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_many_ways_would_you_like_to_split_it</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Expenses_Verified</name>
        <label>Expenses Verified?</label>
        <locationX>1046</locationX>
        <locationY>459</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_correct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Records</targetReference>
            </connector>
            <label>Yes, Verified</label>
        </rules>
        <rules>
            <name>No_incorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_correct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Temp_List_of_Expenses</targetReference>
            </connector>
            <label>No, incorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Two_Three_or_Four_Split</name>
        <label>Two Three or Four Split?</label>
        <locationX>705</locationX>
        <locationY>131</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Two</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfSplits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Two_Expenses</targetReference>
            </connector>
            <label>Two</label>
        </rules>
        <rules>
            <name>Three</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfSplits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Three_Expenses</targetReference>
            </connector>
            <label>Three</label>
        </rules>
        <rules>
            <name>Four</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfSplits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Four_Expenses</targetReference>
            </connector>
            <label>Four</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yes_Or_No</name>
        <label>Yes Or No</label>
        <locationX>389</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_split_your_expense_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_many_ways_would_you_like_to_split_it</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_split_your_expense_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ExpenseOwner</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expense_Owner__c</picklistField>
        <picklistObject>Expense__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>The split amount equals the amount divided by the number of splits</description>
        <name>splitAmountDivision</name>
        <dataType>Currency</dataType>
        <expression>{!originalExpense.Amount__c} / {!numberOfSplits}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Expense Splitter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expense Splitter</label>
    <loops>
        <name>Loop_through_expense_list_choice_selection</name>
        <label>Loop through expense list choice selection</label>
        <locationX>1222</locationX>
        <locationY>138</locationY>
        <assignNextValueToReference>expenseOwnerChoice</assignNextValueToReference>
        <collectionReference>expenseOwnerListSelection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_temp_expense</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verify_Expenses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Records</name>
        <label>Create New Records</label>
        <locationX>860</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Delete_Old_Record</targetReference>
        </connector>
        <inputReference>listOfExpenses</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Record</name>
        <label>Delete Old Record</label>
        <locationX>706</locationX>
        <locationY>567</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Expense__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Expense</name>
        <label>Get Expense</label>
        <locationX>162</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Would_you_like_to_split_your_expense</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Expense__c</object>
        <outputReference>originalExpense</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Expense_Date__c</queriedFields>
        <queriedFields>Expense_Owner__c</queriedFields>
        <queriedFields>Summary__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
    </recordLookups>
    <screens>
        <description>Shows a screen to select four new expense owners</description>
        <name>Four_Expenses</name>
        <label>Four Expenses</label>
        <locationX>929</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_expense_owner_choices_to_collection_0_0</targetReference>
        </connector>
        <fields>
            <name>S3_Expense_1</name>
            <choiceReferences>ExpenseOwner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who owns expense 1?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S3_Expense_2</name>
            <choiceReferences>ExpenseOwner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who owns expense 2?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S3_Expense_3</name>
            <choiceReferences>ExpenseOwner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who owns expense 3?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S3_Expense_4</name>
            <choiceReferences>ExpenseOwner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who owns expense 4?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>How_many_ways_would_you_like_to_split_it</name>
        <label>How many ways would you like to split it?</label>
        <locationX>547</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Two_Three_or_Four_Split</targetReference>
        </connector>
        <fields>
            <name>Expense_Split</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How many ways would you like to split it? </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>numberOfSplits</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>numberOfSplits</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows a screen to select two new expense owners</description>
        <name>Three_Expenses</name>
        <label>Three Expenses</label>
        <locationX>931</locationX>
        <locationY>129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_expense_owner_choices_to_collection_0</targetReference>
        </connector>
        <fields>
            <name>S2_Expense_1</name>
            <choiceReferences>ExpenseOwner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who owns expense 1?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S2_Expense_2</name>
            <choiceReferences>ExpenseOwner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who owns expense 2?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S2_Expense_3</name>
            <choiceReferences>ExpenseOwner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who owns expense 3?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows a screen to select two new expense owners</description>
        <name>Two_Expenses</name>
        <label>Two Expenses</label>
        <locationX>931</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_expense_owner_choices_to_collection</targetReference>
        </connector>
        <fields>
            <name>S1_Expense_1</name>
            <choiceReferences>ExpenseOwner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who owns expense 1?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S1_Expense_2</name>
            <choiceReferences>ExpenseOwner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who owns expense 2?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Have the user verify expense i</description>
        <name>Verify_Expenses</name>
        <label>Verify Expenses</label>
        <locationX>1216</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Expenses_Verified</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <extensionName>c:flowDisplayScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>listOfExpenses</name>
                <value>
                    <elementReference>listOfExpenses</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_correct</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Is this correct?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Would_you_like_to_split_your_expense</name>
        <label>Would you like to split your expense?</label>
        <locationX>277</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Yes_Or_No</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_split_your_expense_choice</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to split your expense?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Expense</startElementReference>
    <status>Active</status>
    <variables>
        <name>emptyExpenseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>emptyStringList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expenseOwnerChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The list of expense owners from the two expense, three expense , four expense screens.</description>
        <name>expenseOwnerListSelection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expenseSplitBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>i</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>listOfExpenses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <description>The number of ways to split an expense. Currently allowed is 2, 3, or 4. Controls how many types something is looped.</description>
        <name>numberOfSplits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>originalExpense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>splitAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tempExpense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
</Flow>
